@charset "UTF-8";

header {
    background-image: linear-gradient(#4EE034, #3BAD27);
    color: white;
    /* text-align: center; */
    
}
header > h1 {
    text-align: center;
}

header > p {
    text-align: right;
}

nav > a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #8AE67A;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}