@charset "UTF-8";

header {
    background-image: linear-gradient(#6BC773, #207a29);
    color: white;
    /* text-align: center; */
    
}
header > h1 {
    text-align: center;
}

header > p {
    text-align: right;
}

nav > a {
    text-decoration: none;
    color: white;
}